html, body{
	/*height: 100%;*/
}

body{
	/*background: #8a7;*/
}

.container{
	/*background: white;*/
	/*height: 100%*/
}

.navbar-default{
	background-color: white;
}

.navbar-default .navbar-brand{
	color: green;
	/*background: green;*/
}

.budget-list{
	/*font-size: 125%;*/
}

.budget-list td{
	/*width: 33%;*/
}

.padded-list td{
	padding: 10px;
}

