{% extends "unclebudget/base.html" %}

{% block body %}

<!--
<div class="page-header">
	<h1>Budget List</h1>
</div>
-->

<ol class="breadcrumb">
	<li class="active">Home</li>
</ol>

<table class="budget-list padded-list table-striped" style="width: 100%">
	<caption>Open budgets<!--<small><a href="{% url 'budget_create' %}">create budget</a></small>--></caption>
	<thead>
		<th>Name</th>
		<th>Balance</th>
		<th>Last modified</th>
	</thead>
	<tbody>
	{% for budget in budget_list %}
		<tr>
			<td class="budget-list-name"><a href="{% url 'budget_detail' budget.id %}">{{budget.name}}</a></td>
			<td class="budget-list-balance">${{budget.balance|floatformat:2}}</td>
			<td class="budget-list-last-modified">{{budget.last_modified}}</td>
		</tr>
	{% endfor%}
	</tbody>
</table>

{% endblock %}
