{% extends 'unclebudget/base.html' %}

{% block body %}

<ol class="breadcrumb">
	<li class="active">Create Budget</li>
</ol>

<script>
function hideLists(){
	document.getElementById('budget_list').style.display = 'none'
	document.getElementById('template_list').style.display = 'none'
}
function showBudgetList(){
	document.getElementById('budget_list').style.display = 'block'
	document.getElementById('template_list').style.display = 'none'
}
function showTemplateList(){
	document.getElementById('budget_list').style.display = 'none'
	document.getElementById('template_list').style.display = 'block'
}
</script>

<form method="post">
	{% csrf_token %}
	{{ form.non_field_errors }}
	<div class="form-group">
		{{ form.name.errors }}
		<label for="{{ form.name.id_for_label }}">Name:</label>
		<input type="text" class="form-control"
			name="{{ form.name.name }}"
			value="{% if form.name.value %}{{ form.name.value }}{% endif %}"
			placeholder="Budget name"
			autofocus>
	</div>
	<div class="radio">
		<label>
			<input type="radio" name="copy" value="new" checked
				onclick="hideLists()">
			Create new
		</label>
	</div>
	<div class="radio">
		<label>
			<input type="radio" name="copy" value="template"
				onclick="showTemplateList()">
			Copy from template
		</label>
	</div>
	<div class="radio">
		<label>
			<input type="radio" name="copy" value="budget"
				onclick="showBudgetList()">
			Copy from budget
		</label>
	</div>
	<p id="template_list" style="display: none">
		<label>Copy from</label><select name="copy_from_template" class="form-control" >
		{% for template in templates %}
			<option value="{{ template.id }}">{{ template.name }}</option>
		{% endfor %}
	</select></p>
	<p id="budget_list" style="display: none">
		<label>Copy from</label><select name="copy_from_budget" class="form-control" >
		{% for budget in budgets %}
			<option value="{{ budget.id }}">{{ budget.name }}</option>
		{% endfor %}
	</select></p>

	<p><input type="submit" class="btn btn-default" value="Submit"></p>
</form>

{% endblock %}
