{% extends 'unclebudget/base.html' %}

{% block body %}

<script>
function hideBudgetList(){
	document.getElementById('budget_list').style.display = 'none'
}
function showBudgetList(){
	document.getElementById('budget_list').style.display = 'block'
}
</script>

<ol class="breadcrumb">
	<li><a href="{% url 'budget_list' %}">Budgets</a></li>
	<li><a href="{% url 'budget_detail' budget.id %}">{{ budget.name }}</a></li>
	<li class="active">{{ title }}</li>
</ol>

<form method="post">
	{% csrf_token %}
	{{ form.non_field_errors }}
	<div class="form-group">
		<label for="{{ form.name.id_for_label }}">Name:</label>
		<input type="text" class="form-control"
			name="{{ form.name.name }}"
			value="{% if form.name.value %}{{ form.name.value }}{% endif %}"
			placeholder="Item name"
			required autofocus>
		{% for error in form.name.errors %}
			{{ error }}<br>
		{% endfor %}
	</div>
	<div class="form-group">
		<label for="{{ form.budgeted.id_for_label }}">Budgeted:</label>
		<input type="number" step="0.01" class="form-control"
			name="{{ form.budgeted.name }}"
			value="{% if form.budgeted.value %}{{ form.budgeted.value }}{% endif %}"
			placeholder="0.00"
			required>
		{% for error in form.name.errors %}
			{{ error }}<br>
		{% endfor %}
	</div>
	{% if expense_create %}
		<div class="radio">
			<label>
				<input type="radio" name="type" value="normal" checked
					onclick="hideBudgetList()">
				Normal item
			</label>
		</div>
		<div class="radio">
			<label>
				<input type="radio" name="type" value="single"
					onclick="hideBudgetList()">
				Single transaction
			</label>
		</div>
		<div class="radio">
			<label>
				<input type="radio" name="type" value="transfer"
					onclick="showBudgetList()">
				Transfer to another budget
			</label>
		</div>
		<p id="budget_list" style="display: none">
			<label>Transfer to</label><select name="transfer_to" class="form-control" >
			{% for b in budgets %}
				{% if budget.id != b.id %}
					<option value="{{ b.id }}">{{ b.name }}</option>
				{% endif %}
			{% endfor %}
		</select></p>
	{% endif %}

	<input type="submit" class="btn btn-default" value="Submit">
</form>

{% endblock %}
